#meus-filmes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}

ul{
    padding: 0;
    align-items: center;
    height: 40px;
    margin: 16px;
    box-sizing: border-box;
    
}

ul li{
    justify-content: center;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin: 0 auto;
    max-width: 800px;
}

span{
    font-size: 24px;
}

button{
    height: 20px;
}

ul li div a{
    text-decoration: none;
    color: #2563eb;
    align-items: center;
    margin-right: 16px;

}

span{
    font-size: 14px;
    white-space: nowrap; /* Impede a quebra de texto */
    overflow: hidden; /* Esconde o texto que não cabe */
    text-overflow: ellipsis;
    width: 70%;
}