.filme-info{
/*     display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    width: calc(100% - 32px);
    max-width: 600px;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    width: 95%;
    max-width: 600px;
    margin: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 600px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 16px;
    padding: 16px;
    border-radius: 5px;
}

.filme-info img{
/*     border-radius: 4px;
    margin-bottom: 16px;
    width: 400px;
    max-height: 400px;
    max-width: 100%;
    height: auto; */
    max-width: 90%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin:16px;
}

.filme-info button{
    margin-right: 8px;
    margin-top: 16px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    text-align: center;
    outline: none;
    padding: 12px;
    transition: all 0.5s;
}

.filme-info button:hover{
    background-color: #2563eb;
    color: white;
}

.filme-info a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.filme-info a:hover{
    color: white;
}