.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lista-filmes{
    margin:15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filmes img{
    width: 400px;
    max-height: 400px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.lista-filmes article a{
    text-decoration: none;
    color:white;
    background-color: #2563eb;
    font-size: 20px;
    width: 400px;
    max-height: 400px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}